.clicker {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #cfd0d2;
    background: #f8f9fb;
    height: 200px;
    width: 300px;
    margin: 20px;
    overflow: hidden;
}


.clicker-wrap{
    display: flex;
}